.navbar {
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; /* Add padding on both sides */
    box-sizing: border-box; /* Include padding in width calculation */
    transition: top 0.3s;
}

.navbar-logo {
    /* Style for logo, adjust as needed */
}

.navbar-menu {
    display: flex;
}

.navbar-title {
    /* Style for the title, adjust as needed */
    font-size: 20px;
    font-weight: 700;
}

.nav-item {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    color: #FFFFFF; /* White text */
    font-size: 20px;
    font-weight: 700;
    text-decoration: none; /* Remove underline from links */
}

.nav-item:hover {
    color: #FFFFFF; /* Keeps text white on hover */
}

.nav-item::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px; /* Thickness of the underline */
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-item:hover::after {
    width: 100%;
    background: #957DAD; /* Pastel Purple Color for the underline */
}
