/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 86vh;
}
.content {
  display: flex;
  flex-direction: column;
}

/* Page titles */
h1 {
  color: #ffffff;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 20%;
  text-align:left; /* Center text horizontally */
  margin-left: 200px;
  margin-top: 150px;
}


.page h1 {
  font-size: 48px;
}

.page p {
  line-height: 1.5;
}

.page a {
  color: #ffffff;
}

.page a:hover {
  text-decoration: none;
}

/* The React image and "click me" text */
.btn--click-me {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn--click-me:hover {
  text-decoration: underline;
}


h2 {
  color: #000000;
}

.body-background {
  background-image: url('https://cdn.glitch.global/4f194de8-562e-4c7b-bc7c-babcb839caf7/GettyImages-1474485122%201.png?v=1706506153426');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0; /* No padding if the background extends behind the navbar */
width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 10px;
  margin:0;
}

    .merch-button {
  display: inline-block;
  font-family: HK Grotesk;
  background-color: #000; /* Pastel Purple Color */
  color: #FFFFFF; /* White text */
  padding: 20px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 200px;
  font-size: 30px;
      margin-top:30px;

  /* Add any additional styling as per your design */
}

.merch-button:hover {
  background-color: #BFA2DB; /* Lighter Purple on Hover */
  color: #000000; /* Black text on hover */
}

.instructions {
  padding: 20px; /* Add padding for spacing */
}

.merch-page {
    /* Your existing styles */
}

.merch-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust as necessary */
    gap: 40px;
}

.merch-item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0; /* A background color for when the image disappears */
  border-radius: 20px;
  font-family: HK Grotesk;
  line-height: 160%;
}

.merch-image {
    width: 100%;
    display: block;
    transition: opacity 0.3s ease;
}

.merch-title {
   color: black;
   line-height: 130%;
   /* Additional styling as needed */
  
}

.merch-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(191, 162, 219, 0.75);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.merch-item:hover .merch-back {
    opacity: 1;
    pointer-events: auto; /* Enable pointer events on hover */
}

.merch-item:hover .merch-image {
    opacity: 0; /* Hide the image on hover */
}

.merch-buy-button {
  display: inline-block;
  font-family: HK Grotesk;
  background-color: #000; /* Pastel Purple Color */
  color: #FFFFFF; /* White text */
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  padding-top:5px;
  font-size: 20px;
}

.merch-buy-button:hover {
  background-color: #BFA2DB; /* Lighter Purple on Hover */
  color: #000000; /* Black text on hover */
}

.merch-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spaces out the title and image */
    margin-bottom: 20px; /* Adds some space below the header */
}

.merch-title-container {
    flex-basis: 50%;
}

.merch-image-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.merch-main-image {
    max-width: 100%;
    height: auto;
  width: 400px;
    margin-left: 10%;
}

.merch-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 40px;
  width: 800px;
  border-radius: 20px;
}